In [33]:
import os
import pandas as pd

DATA_PATH='/home/G/user_students/loggu/project_kla/data/45AA/cdhit30/'

def read_file_as_dict(file_path):
    data_dict = {}  
    with open(file_path, 'r') as f:
        lines = f.readlines()
        # 遍历文件内容，按每两行读取一个键值对
        for i in range(0, len(lines), 2):
            key = lines[i].strip()  # 获取key，并去掉可能的换行符
            if i + 1 < len(lines):  # 确保存在下一行作为value
                value = lines[i + 1].strip()  # 获取value
                data_dict[key] = value
    df = pd.DataFrame.from_dict(data_dict, orient='index',columns=['seq'])
    df = df.reset_index().rename(columns = {'index':'label'})
    return df

df1 = read_file_as_dict(DATA_PATH+'positivetotal_cdhit30.fasta')
df2 = read_file_as_dict(DATA_PATH+'negativetotal_cdhit30.fasta')

df=pd.concat([df1,df2.sample(n=len(df1), random_state=539)])
df=df.sample(frac=1,random_state=349)

df.to_csv(DATA_PATH+"45AA_cdhit30_ori.csv",index=False)
df['label'] = df['label'].str.split('|', expand=True)[1]
df.to_csv(DATA_PATH+"45AA_cdhit30_file.csv",index=False)
df[:int(len(df)*0.8)].to_csv(DATA_PATH+"45AA_cdhit30_train.csv",index=False)
df[int(len(df)*0.8):].to_csv(DATA_PATH+"45AA_cdhit30_test.csv",index=False)

In [34]:
df.head()

       label                                            seq
176543     0  MLGVGDFYYELGVQIIEVCLALKHRNGGLITLEELHQQVLKGRGK
4613       1  IDDEVRILINDAYKRTVALLTEKKADVEKVALLLLEKEVLDKNDM
4415       1  PSKCHELSPREVKEMEQFVKKYKSEALGVGDVKLPCEMDAQGPKQ
1868       1  HRYIEIFKSSRAEVRTHYDPPRKLMAMQRPGPYDRPGAGRGYNSI
167523     0  CSAEDGACHCTPGWTGLFCTQRKPHLLASQPLRIPCCGLLATVGI

In [5]:
import pandas as pd
datapath="/home/G/user_students/loggu/project_kla/DeepKla-main/DeepKla/train/"
data=pd.read_csv(datapath+"45AA_cdhit30_file.csv")
datalist=[]
for index,row in data.iterrows():
    datalist.append(f'>{row['label']}\n{row['seq']}\n')
with open(datapath+"45AA_cdhit30_file.fasta",'w')as f:
    f.writelines(datalist)

In [4]:
from Bio import SeqIO
import pandas as pd
label = []
sequence = []
DATA_PATH='/home/G/user_students/loggu/project_kla/data/45AA/cdhit30/'
seq = ('/home/G/user_students/loggu/project_kla/data/45AA/validtotal.fasta')  #转换的文件
for seq_record in SeqIO.parse(seq, "fasta"):
    label.append(str(seq_record.id).split('|')[1])
    sequence.append(str(seq_record.seq))
df = pd.DataFrame(data={'label': label, 'seq': sequence})
df.to_csv(DATA_PATH+"45AA_cdhit30_independentvalidation.csv",index=False)

In [3]:
df.head()

  label                                            seq
0     1  EVLQHIQNLSPRTGKAYTGAAIKKLRKEVFSARNGSRKNQGVPQI
1     1  NLTLTVARSEHKVWSPLVTEEGKRHPYKMNLASEPQEVLHIGSAH
2     1  VARSEHKVWSPLVTEEGKRHPYKMNLASEPQEVLHIGSAHNRSAM
3     1  LQEILESEEKGDPNKPSGFRSVKAPVTKVAASIGNAQKLPMCDKC
4     1  ESEEKGDPNKPSGFRSVKAPVTKVAASIGNAQKLPMCDKCGTGIV

In [21]:
import numpy as np

In [22]:
df.head()

   label                                            seq
0      0  MLGVGDFYYELGVQIIEVCLALKHRNGGLITLEELHQQVLKGRGK
1      1  IDDEVRILINDAYKRTVALLTEKKADVEKVALLLLEKEVLDKNDM
2      1  PSKCHELSPREVKEMEQFVKKYKSEALGVGDVKLPCEMDAQGPKQ
3      1  HRYIEIFKSSRAEVRTHYDPPRKLMAMQRPGPYDRPGAGRGYNSI
4      0  CSAEDGACHCTPGWTGLFCTQRKPHLLASQPLRIPCCGLLATVGI

In [25]:
datapath="/home/G/user_students/loggu/project_kla/data/45AA/cdhit30/45AA_cdhit30_file.csv"
df = pd.read_csv(datapath)
newdf=df[['seq','label']]
newdf=newdf.rename(columns={'label':'target'})
newdf=newdf.rename(columns={'seq':'sequence'})

newdf['set'] = np.where(df.index < int(len(newdf) * 0.8), 'train', 'test')
newdf['validation'] = np.where(df.index < int(len(newdf) * 0.1), 'TRUE', '')

In [26]:
newdf.head()

                                        sequence  target    set validation
0  MLGVGDFYYELGVQIIEVCLALKHRNGGLITLEELHQQVLKGRGK       0  train       TRUE
1  IDDEVRILINDAYKRTVALLTEKKADVEKVALLLLEKEVLDKNDM       1  train       TRUE
2  PSKCHELSPREVKEMEQFVKKYKSEALGVGDVKLPCEMDAQGPKQ       1  train       TRUE
3  HRYIEIFKSSRAEVRTHYDPPRKLMAMQRPGPYDRPGAGRGYNSI       1  train       TRUE
4  CSAEDGACHCTPGWTGLFCTQRKPHLLASQPLRIPCCGLLATVGI       0  train       TRUE

In [16]:
len(newdf)

9640